name: Build Plugin

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - run: mvn -B package
      - uses: actions/upload-artifact@v4
        with:
          name: ImmortalHalfHeartTotem
          path: target/*.jar
